
<div class="container" #pdfcontent *ngIf="product && orders[0]; else noOrders"> 
  <div class="row">
    <div class="col">
        <h2 class="text-center mb-4 animated pulse"><i class="fa fa-info" aria-hidden="true"></i> Order Details</h2>
    </div>
    <div class="col">
      <div>
          <button class="btn btn-outline-primary mb-2 mr-2 float-right btn-block" (click)="openVerticallyCentered(content)">Check Order Status</button>
      </div>
        <ng-template #content let-modal>
            <div *ngIf="orders[0]" class="modal-header">
              <h4 class="modal-title">Your Order Status Is:</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
               <div [ngClass]="{'bg-success':orders[0].status === 'delivered', 'bg-info':orders[0].status === 'new', 'bg-warning': orders[0].status === 'in-progress'}" class="text-center font-weight-bold"><h1>{{ orders[0].status | uppercase }}</h1></div>
             </div>
    
                 <div class="modal-footer">
                    <button type="button" class="btn btn-warning" (click)="modal.close('Close click')">Close</button>
                  
            </div>
           
          </ng-template>
    </div>
    
    <div class="col">
      <button (click)="goBack()" class="float-right btn btn-dark"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</button>
    </div>

  </div>
  <div class="table-responsive-sm table-responsive-xs table-responsive-md">
    <table class="table">
      <thead>
        <tr>
          <th class="d-none d-sm-block"></th>
          <th>Item/Items</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th></th>
        </tr>
  
      </thead>
      <tbody>
        <tr *ngFor="let item of product">
          <td class="d-none d-sm-block"><img  *ngIf="item.picture" width="50" height="50" class="img" src="{{ item.picture }}" alt=""></td>
          <td class="text-capitalize">{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          
          <td>{{ item.price | currency:'USD': 'symbol-narrow'  }}</td>
          <td>{{ item.totalPrice | currency:'USD': 'symbol-narrow'  }}</td> 
          <td><button class="btn btn-outline-dark" (click)="openBackDropCustomClass(content)">View Addons</button></td>
          <!-- ng template modal with addons -->
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Addons Included</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="orders" class="modal-body">
              <div class="card">
                <div class="card-header">
                    <h3 class="text-center card-title">Ingridients/Addons Requested.</h3>
                </div>
                <div class="card-body">
                    <ul class="list-inline">
                        <li class="list-inline-item text-center"><p class="mr-5 text-capitalize">{{ item.addons }}</li>
                      </ul>
                </div>
              </div>
              <div class="card"> 
                <div class="card-header">
                  <h3 class="text-center card-title">Special Request</h3></div>
                <div class="card-body">
                 <p>{{ item.instruction }}</p> 
                </div>

              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>
        </tr>
        <tr>
          <th class="d-none d-sm-block"></th>
          <th></th>
          <th></th>
          <th>Grand Total</th>
          <th>{{ orders[0].grandTotal | currency:'USD': 'symbol-narrow' }}</th>
          <th></th>
        </tr>
        <br>
        <tr>
          <th colspan="5"> <h3 class="text-center alert alert-light">Address Information <i class="fa fa-address-card" aria-hidden="true"></i></h3></th>
        </tr>
        <tr>
          <th colspan="2">Adress/Street</th>
          <th>Apt</th>
          <th>City</th>
          <th colspan="2">Phone</th>
        </tr>
        <tr>
          
          <td colspan="2"><i class="fa fa-home" aria-hidden="true"></i> {{ orders[0].shipping.address }}</td>
          <td class="text-uppercase">{{ orders[0].shipping.apt }}</td>
          <td>{{ orders[0].shipping.city }}</td>
          <td colspan="2"> <p><i class="fa fa-phone" aria-hidden="true"></i> {{ orders[0].shipping.phone }}</p></td>

        </tr>
        <tr>
          <td colspan="6">
            <div class="card">
                <div class="card-header">
                  Delivery Instruction
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>{{ orders[0].shipping.message }}</p>
                    
                  </blockquote>
                </div>
              </div>
              
              <ng-template #noMessage>
                  <div class="card">
                      <div class="card-body">
                          <h4 class="text-center">No Instructuion submitted for delivery</h4>
                      </div>
                    </div>
              </ng-template>
            </td>
        </tr>
       
      </tbody>
      <tfoot>
  
      </tfoot>
  
    </table>
  </div>
  
  
  
  </div>
  <div>
    <ng-template #noOrders>
      <div class="card">
        <div class="card-body">
          <h3>No Orders to Display...</h3>
        </div>
      </div>
    </ng-template>
  </div>
  