
<div *ngIf="product"> 
  <div class="row">
    <div col>
        <h2 class="text-center mb-4 animated pulse"><i class="fa fa-info" aria-hidden="true"></i> Order Details</h2>
    </div>
    <div class="col">
      <button (click)="goBack()" class="float-right btn btn-dark"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</button>
    </div>

  </div>
    
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Item/Items</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
  
      </thead>
      <tbody>
        <tr *ngFor="let item of product">
          <td><img  *ngIf="item.picture" width="50" height="50" class="img" src="{{ item.picture }}" alt=""></td>
          <td class="text-capitalize">{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          
          <td>{{ item.price | currency:'USD': 'symbol-narrow'  }}</td>
          <td>{{ item.totalPrice | currency:'USD': 'symbol-narrow'  }}</td> 
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Grand Total</th>
          <th>{{ orders[0].grandTotal | currency:'USD': 'symbol-narrow' }}</th>
        </tr>
        <br>
        <tr>
          <th colspan="5"> <h3 class="text-center alert alert-light">Address Information <i class="fa fa-address-card" aria-hidden="true"></i></h3></th>
        </tr>
        <tr>
          <th>Adress/Street</th>
          <th>Apt</th>
          <th>City</th>
          <th>Phone</th>
        </tr>
        <tr>
          <td><i class="fa fa-home" aria-hidden="true"></i> {{ orders[0].shipping.address }}</td>
          <td>{{ orders[0].shipping.apt }}</td>
          <td>{{ orders[0].shipping.city }}</td>
          <td><i class="fa fa-phone" aria-hidden="true"></i> {{ orders[0].shipping.phone }}</td>

        </tr>
        <tr>
          <td colspan="5">
            <div *ngIf="orders[0].shipping.message != ''; else noMessage" class="card">
                <div class="card-header">
                  Delivery Instruction
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>{{ orders[0].shipping.message }}</p>
                    
                  </blockquote>
                </div>
              </div>
              
              <ng-template #noMessage>
                  <div class="card">
                      <div class="card-body">
                          <h4 class="text-center">No Instructuion submitted for delivery</h4>
                      </div>
                    </div>
              </ng-template>
            </td>
        </tr>
       
  
  
      </tbody>
      <tfoot>
  
      </tfoot>
  
    </table>
  
  </div>
  