<h3 class="mb-3">Shopping Cart</h3>
<div class="animated fadeIn" *ngIf="cart$ | async as cart">

  <div class="row">
    <div class="col">
        <p> {{ cart.totalItemsCount }} Items in Cart. </p>
       
    </div>
    <div class="col">
        <button 
        *ngIf="cart.totalItemsCount > 0"
        (click)="clearCart()"
        class="btn btn-warning float-right">Empty Cart</button>
    </div>
     
  </div>
 
  <br>
  <div *ngIf="cart.totalItemsCount > 0" class="table-responsive-sm table-responsive-xs table-responsive-md">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" >Qty</th>
        <th class="text-right" >Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div *ngIf="item.picture" class="thumbnail">
            <img width="60" height="60" class="img-circled" [src]="item.picture" alt="">
          </div>
        </td>
        <td class="text-capitalize">
         <p class="font-weight-bold">{{ item.name }}</p> 
          <p> <i>{{ item.flavors[0]}}</i></p>
        </td>
        <td>

          <product-quantity [product]="item" [shopping-cart]="cart">
          </product-quantity>
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency:'USD':'symbol-narrow' }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">Grand Total: {{ cart.totalPrice | currency:'USD':'symbol-narrow' }}</th>
      </tr>
    </tfoot> 
  
  </table>
</div>
<div *ngIf="cart.totalItemsCount > 0">
    <button 
      (click)="checkOut(cart)"
      class="btn btn-dark btn-lg mr-5"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Check Out</button>
      <a [routerLink]="['/']" class="btn btn-info btn-lg" >More Antojitos</a>
</div>
 
</div>
