<div class="grid-3">
  <div class="">
    <button 
      (click)="removeFromCart()"
      class="btn btn-secondary float-left"><mat-icon><i class="material-icons md-18">remove</i></mat-icon></button> 
  </div>
  <div *ngIf="itemCount > 0" class="text-center text-justify">
     <!-- {{ shoppingCart.getQuantity(product) }} in cart -->
     {{ itemCount }} in cart
  </div>
  <div *ngIf="itemCount === 0" class="col text-center">
    <!-- {{ shoppingCart.getQuantity(product) }} in cart -->
    Nothing
 </div>
  <div *ngIf="!itemCount" class="text-center text-justify">
   <p class="text-center">{{ shoppingCart.getQuantity(product) }} </p> 
    
 </div>
  <div class="">
    <button 
      (click)="addToCart()"
      class="btn btn-secondary float-right"><mat-icon><i class="material-icons md-18">add</i></mat-icon></button> 
  </div>
</div>