
<div>
  <h2 class="text-center mb-4 animated pulse">My Orders History</h2>
  <div class="table-responsive-md table-responsive-sm">

 
  <table *ngIf="orders" class="table animated fadeInRight">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date/Time</th>
        <th>Status</th>
        <th>Amount</th>
        <th>Details</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let item of orders">
        <td class="text-capitalize">{{ item.shipping.name }} {{ item.shipping.last_name }}</td>
        <td>{{ item.datePlaced }}</td>
        <td [ngClass]="{'bg-success': item.status === 'delivered', 'bg-info': item.status === 'new', 'bg-danger': item.status === 'canceled', 'bg-warning': item.status === 'in-progress'}"  class="text-capitalize">{{ item.status }}</td>
        <td>{{ item.grandTotal | currency:'USD': 'symbol-narrow' }}</td>
        <td><a [routerLink]="['/myorders/detail/', item.items[0].product.id]" class="btn btn-secondary">View Order</a></td>
       

      </tr>


    </tbody>
    <tfoot>

    </tfoot>

  </table>
</div>

</div>
