.card-footer {
    padding: 0;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }

  .list-inline {
    padding-left: 0;
    list-style: none;
    display: inline-flex;
    margin-right: 10px;
    font-style: italic;
}

