<div>
  <div>
    <h3 class="text-center">Adding New Product</h3>
  </div>
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-group">
        <label for="item_name">Product Name</label>
        <input [(ngModel)]="product.name" id="item_name" type="text" name="name"  class="form-control" required>
    </div>
    <div class="form-group">
        <label for="item_price">Price</label>
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
          <input [(ngModel)]="product.price" id="item_price" type="number" name="price"  class="form-control" required>
        </div>
        
    </div>
    <div class="form-group">
        <label for="item_category">Category</label>
        <select [(ngModel)]="product.category" class="form-control" name="category" id="item_category" required>
          <option disabled value="">Select a category</option>
          <option class="text-capitalize" *ngFor="let c of categories$ | async" [value]="c.id">{{ c.name }}</option>
        </select>
    </div>
    <div class="form-group">
      <label for="pic">Upload Image</label>
      <button type="button" class="btn btn-secondary btn-block" (click)="item_pic.click()">Select Image</button>
    </div>
    <div hidden class="form-control col">
      <input required class="form-control" type="file" (change)="onUpload($event)" name="pic" id="pic" accept=".png,.jpg, .jpeg"  ngModel #item_pic>
  </div>
  <br>
  <div>
    <button type="submit" class="btn btn-dark btn-block">Add Product</button>
  </div>
    
  </form>
</div>
<p>{{ product | json }}</p>