
  <div>
  <a class="pull-right" routerLink="/admin/products/new" class="btn btn-dark mb-5">Add New Product</a>
  
  <input #query (keyup)=filter(query.value) type="text" class="form-control" name="search" id="search" placeholder="Search.....">
</div>
<br>


<div>
  <table class="table">
    <thead>
      <tr class="text-white bg-dark">
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of filtered">
        <td class="text-capitalize">{{ prod.name }}</td>
        <td> {{ prod.price | currency:"USD":"symbol-narrow" }}</td>
        <td><a class="btn btn-block btn-secondary" [routerLink]="['/admin/products/', prod.id]" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></td>
      </tr>
    </tbody>
    <tfoot>
      
    </tfoot>

  </table>
</div>