<div *ngIf="product" style="width: 70rem;">
    <div>
        <h3 class="text-center">Update A Product</h3>
      </div>
      <br>
  <div class="row">
    <div class="col-md-7">
      <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
          <div class="form-group">
              <label for="item_name">Product Name</label>
              <input [(ngModel)]="product.name" id="item_name" type="text" #prod_name="ngModel" name="name"  class="form-control"
              [ngClass]="{'is-invalid': prod_name.touched && prod_name.errors, 'is-valid': prod_name.valid}"
              required>
              <div class="invalid-feedback" *ngIf="prod_name.errors?.required">
                  Name is required..
              </div>
          </div>
          <div class="form-group">
              <label for="item_price">Price</label>
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
                <input [(ngModel)]="product.price" id="item_price" type="number" #prod_price="ngModel" name="price" [min]="0" class="form-control" 
                [ngClass]="{'is-invalid': prod_price.touched && prod_name.errors, 'is-valid': prod_price.valid}"
                required>
              </div>
              <div class="invalid-feedback" *ngIf="prod_price.errors?.min">
                  Price should be 0 or higher
              </div>
              
              
          </div>
          <div class="form-group">
              <label for="item_category">Category</label>
              <select [(ngModel)]="product.category" class="form-control text-capitalize" #prod_category="ngModel" name="category" id="item_category" 
              [ngClass]="{'is-invalid': prod_category.touched && prod_category.errors, 'is-valid': prod_category.valid}"
              required>
                <option disabled value="">Select a category</option>
                <option class="text-capitalize" *ngFor="let c of categories$ | async" [value]="c.id">{{ c.name }}</option>
              </select>
              <div class="invalid-feedback" *ngIf="prod_category.errors?.required">
                Category is required
              </div>
          </div>
          <div class="form-group">
            <label for="pic">Update Image</label>
            <button type="button" class="btn btn-info btn-block" (click)="item_pic.click()">Select Image</button>
          </div>
          <div hidden class="form-control col">
            <input class="form-control" type="file" (change)="onUpload($event)" name="pic" id="pic" accept=".png,.jpg, .jpeg"  ngModel #item_pic>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
              <button [disabled]="!myForm.form.valid" type="submit" class="btn btn-dark btn-block">UpdateProduct</button>
          </div>
          <div class="col-md-6">    
          <button type="button" (click)="delete()" class="btn btn-danger btn-block"><i class="fa fa-trash" aria-hidden="true"></i> Delete Product</button>
          </div>
        </div>
          
        </form>

    </div>
    <div class="col-md-5">
        <!-- <div class="card" style="width: 30rem;">
        <img class="card-img-top" [src]="product.picture">
        <div class="card-body">
          <h5 class="card-title text-capitalize">{{ product.name}}</h5>
          <p class="card-text">{{ product.price | currency:"USD":"symbol-narrow" }} </p>
        </div>
      </div>
       -->
       <product-card [product]="product" [show-actions]="false"></product-card>
    </div>
  </div>
  
 
</div>
