<div class="row">
  
  <div class="col-md-6 mx-auto">
      <div id="error" *ngIf="errorMsg">
          <p class="alert alert-warning">{{ errorMsg }}</p>
        </div>
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-primary"><i class="fa fa-lock"></i> Sign In /</span> Login
        </h1>
        <form (submit)="login()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" [(ngModel)]="email" class="form-control" required>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" [(ngModel)]="password" class="form-control" required>
          </div>
          
          <input type="submit" value="Login" class="btn btn-primary btn-block">
        </form>
        <div class="mt-5">
          <p>Do not have an account? <a class="badge badge-primary" routerLink="/register"><h5>Sign Up!</h5></a></p>
        </div>
      </div>
     
    </div>
   
  </div>
 
 
</div>
